



<h2>Index</h2>
<div id="chatDialog"></div>
<form id="chatForm">
    <input id="messageTextbox" type="text"  placeholder="your message"/>
    <button type="submit">Send</button>
</form>

<div id="chatBox">
    
</div>