<h2>Index</h2>
<div id="chatDialog">
    <div id="chatConnectionInfo">
       
    </div>
</div>


<div id="chatWelcome">
    <form id="chatConnectForm">
        <input id="name-input" type="text" placeholder="Enter your name"/>
        <button type="submit">Connect</button>
    </form>
</div>


<form id="chatForm">
    <input id="messageTextbox" type="text"  placeholder="your message"/>
    <button type="submit">Send</button>
</form>

<div id="chatBox">
    
</div>